doctype html
head
  title=meta.title
  meta( name="description" content=meta.description )
  link( rel="icon" href="/penguin.png" )
  link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css" )
  link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" )
  link( rel="stylesheet" href="/main.css" )
body
  script( src="/bundle.js" )
  script.
    window.__INITIAL_STATE__ = !{ JSON.stringify(context) }
    Elm.Main.fullscreen(window.__INITIAL_STATE__)
